<launch>
    <node pkg="zzz_navigation_pose_reporter" type="manual" name="pose_reporter" output="screen">
        <rosparam param="map_origin">[42.297953675742356,-83.7019589083345,270.0]</rosparam>
        <param name="odom_input_topic" value="/gps/odom"/>
        <param name="gnss_input_topic" value="/gps/fix"/>
        <param name="imu_input_topic" value="/imu/data"/>
        <param name="guess_from_start" value="true"/>
    </node>
    <node name="player" pkg="rosbag" type="play" output="screen" args="-s 56 -u 30 /home/jacobz/Data/mcity_map/0816/lidar_2020_08_15_14_08_18.bag"/>
    <node type="rviz" name="rviz" pkg="rviz" args="-d /home/jacobz/Detection/ws/src/clapper/config/launch/misc/odom_test.rviz"/>
    <node type="static_transform_publisher" name="tf_static1" pkg="tf2_ros" args="0 0 0 0 0 0 base_footprint velodyne_fm"/>
    <node type="mmdet3d_detector" name="detector" pkg="zzz_perception_detection_lidar_detectors">
        <env name="PYTHONHOME" value="/home/jacobz/Anaconda3/envs/open-mmlab/"/>
        <env name="PYTHONPATH" value="$(env PYTHONPATH):/home/jacobz/Anaconda3/envs/open-mmlab/lib/python3.8/site-packages:/usr/lib/python3/dist-packages"/>
        <param name="semantics_output_topic" value="/points_semantic"/>
        <param name="checkpoint_file" value="/home/jacobz/Detection/mmdetection3d/work_dirs/[slurm]epoch_30_dsfixed_gridsample.pth"/>
        <param name="config_file" value="/home/jacobz/Detection/mmdetection3d/configs/centerpoint/centerpoint_01voxel_second_secfpn_4x8_cyclic_30e_d3d-nuscenes_semantic-lovasz.py"/>
    </node>
    <!-- <node pkg="zzz_visualization" type="semantics" name="semantic_vis"/> -->
    <!-- <node pkg="rosbag" type="record" output="screen" args="/tf /tf_static /gps/odom /gps/fix /velodyne_points /objects_detected /semantic_points"/> -->
</launch>